<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_processes</key>
	<integer>8</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_updateInterval</key>
	<integer>10</integer>
	<key>CPU_updateTopInterval</key>
	<integer>10</integer>
	<key>Clock_list</key>
	<data>
	W3siaWQiOiIwNjdGRkVCQy1BMDZDLTQ2OTktQkM2OS1FQkE3OUFCNzkzNDUiLCJmb3Jt
	YXQiOiJjY2MgZGQgTU1NTSBISDptbTpzcyIsImVuYWJsZWQiOnRydWUsIm5hbWUiOiJJ
	bmRpYSIsInR6IjoiNTozMCJ9XQ==
	</data>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>Clock_sensors_mode</key>
	<string>oneRow</string>
	<key>Clock_sensors_monospacedFont</key>
	<true/>
	<key>Clock_state</key>
	<true/>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>8</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_orderReversed</key>
	<true/>
	<key>Disk_memory_position</key>
	<integer>0</integer>
	<key>Disk_memory_symbols</key>
	<false/>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_removable</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<false/>
	<key>Disk_updateInterval</key>
	<integer>300</integer>
	<key>Disk_widget</key>
	<string>memory</string>
	<key>GPU_mini_alignment</key>
	<string>left</string>
	<key>GPU_mini_color</key>
	<string>monochrome</string>
	<key>GPU_mini_label</key>
	<true/>
	<key>GPU_position</key>
	<integer>1</integer>
	<key>GPU_showType</key>
	<false/>
	<key>GPU_state</key>
	<false/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>455</real>
	<key>NSStatusItem Preferred Position Clock</key>
	<real>78</real>
	<key>NSStatusItem Preferred Position Network</key>
	<real>380</real>
	<key>NSStatusItem Preferred Position RAM</key>
	<real>506</real>
	<key>NSStatusItem Restore Position CPU_mini</key>
	<integer>493</integer>
	<key>NSStatusItem Restore Position Clock_sensors</key>
	<integer>78</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>375</integer>
	<key>NSStatusItem Restore Position RAM_mini</key>
	<integer>446</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>440 354 800 448 0 0 1680 1025 </string>
	<key>Network_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>3</integer>
	<key>Network_position</key>
	<integer>5</integer>
	<key>Network_processes</key>
	<integer>10</integer>
	<key>Network_publicIPRefreshInterval</key>
	<string>never</string>
	<key>Network_reader</key>
	<string>process</string>
	<key>Network_speed_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_reverseOrder</key>
	<false/>
	<key>Network_speed_transparentIcons</key>
	<false/>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_speed_uploadColor</key>
	<string>secondRed</string>
	<key>Network_speed_value</key>
	<true/>
	<key>Network_speed_valueAlignment</key>
	<string>right</string>
	<key>Network_speed_valueColor</key>
	<true/>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_usageReset</key>
	<string>Once per month</string>
	<key>Network_widget</key>
	<string>speed</string>
	<key>Network_widgetActivationThreshold</key>
	<integer>0</integer>
	<key>RAM_position</key>
	<integer>2</integer>
	<key>RAM_processes</key>
	<integer>8</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_updateInterval</key>
	<integer>10</integer>
	<key>RAM_updateTopInterval</key>
	<integer>10</integer>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_position</key>
	<integer>4</integer>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>clock_067FFEBC-A06C-4699-BC69-EBA79AB79345_popupState</key>
	<true/>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>telemetry_id</key>
	<string>100B5C40-66F8-48E4-92E7-6B0A20B980B7</string>
	<key>temperature_units</key>
	<string>system</string>
	<key>updater_check_ts</key>
	<integer>1713017412</integer>
	<key>version</key>
	<string>2.10.7</string>
</dict>
</plist>
